<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>frames</key>
    <dict>
        <key>potato_walk_00.png</key>
        <dict>
            <key>frame</key><string>{{12,34},{110,145}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,145}}</string>
            <key>sourceSize</key><string>{110,145}</string>
        </dict>
        <key>potato_walk_01.png</key>
        <dict>
            <key>frame</key><string>{{132,34},{110,145}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,145}}</string>
            <key>sourceSize</key><string>{110,145}</string>
        </dict>
        <key>potato_walk_02.png</key>
        <dict>
            <key>frame</key><string>{{252,34},{110,145}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,145}}</string>
            <key>sourceSize</key><string>{110,145}</string>
        </dict>
        <key>potato_walk_03.png</key>
        <dict>
            <key>frame</key><string>{{371,34},{110,145}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,145}}</string>
            <key>sourceSize</key><string>{110,145}</string>
        </dict>
        <key>potato_walk_04.png</key>
        <dict>
            <key>frame</key><string>{{491,34},{110,145}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,145}}</string>
            <key>sourceSize</key><string>{110,145}</string>
        </dict>
        <key>potato_walk_05.png</key>
        <dict>
            <key>frame</key><string>{{610,34},{110,145}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,145}}</string>
            <key>sourceSize</key><string>{110,145}</string>
        </dict>
        <key>potato_walk_06.png</key>
        <dict>
            <key>frame</key><string>{{732,34},{110,145}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,145}}</string>
            <key>sourceSize</key><string>{110,145}</string>
        </dict>
        <key>potato_walk_07.png</key>
        <dict>
            <key>frame</key><string>{{845,34},{110,145}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,145}}</string>
            <key>sourceSize</key><string>{110,145}</string>
        </dict>
        <key>potato_action_00.png</key>
        <dict>
            <key>frame</key><string>{{27,252},{110,228}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,228}}</string>
            <key>sourceSize</key><string>{110,228}</string>
        </dict>
        <key>potato_action_01.png</key>
        <dict>
            <key>frame</key><string>{{216,252},{110,228}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,228}}</string>
            <key>sourceSize</key><string>{110,228}</string>
        </dict>
        <key>potato_action_02.png</key>
        <dict>
            <key>frame</key><string>{{381,252},{110,228}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,228}}</string>
            <key>sourceSize</key><string>{110,228}</string>
        </dict>
        <key>potato_action_03.png</key>
        <dict>
            <key>frame</key><string>{{511,252},{110,228}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,228}}</string>
            <key>sourceSize</key><string>{110,228}</string>
        </dict>
        <key>potato_action_04.png</key>
        <dict>
            <key>frame</key><string>{{675,252},{110,228}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,228}}</string>
            <key>sourceSize</key><string>{110,228}</string>
        </dict>
        <key>potato_action_05.png</key>
        <dict>
            <key>frame</key><string>{{833,252},{110,228}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,228}}</string>
            <key>sourceSize</key><string>{110,228}</string>
        </dict>
        <key>sweet_walk_00.png</key>
        <dict>
            <key>frame</key><string>{{7,571},{110,165}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,165}}</string>
            <key>sourceSize</key><string>{110,165}</string>
        </dict>
        <key>sweet_walk_01.png</key>
        <dict>
            <key>frame</key><string>{{127,571},{110,165}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,165}}</string>
            <key>sourceSize</key><string>{110,165}</string>
        </dict>
        <key>sweet_walk_02.png</key>
        <dict>
            <key>frame</key><string>{{246,571},{110,165}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,165}}</string>
            <key>sourceSize</key><string>{110,165}</string>
        </dict>
        <key>sweet_walk_03.png</key>
        <dict>
            <key>frame</key><string>{{366,571},{110,165}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,165}}</string>
            <key>sourceSize</key><string>{110,165}</string>
        </dict>
        <key>sweet_walk_04.png</key>
        <dict>
            <key>frame</key><string>{{479,571},{110,165}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,165}}</string>
            <key>sourceSize</key><string>{110,165}</string>
        </dict>
        <key>sweet_walk_05.png</key>
        <dict>
            <key>frame</key><string>{{595,571},{110,165}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,165}}</string>
            <key>sourceSize</key><string>{110,165}</string>
        </dict>
        <key>sweet_walk_06.png</key>
        <dict>
            <key>frame</key><string>{{716,571},{110,165}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,165}}</string>
            <key>sourceSize</key><string>{110,165}</string>
        </dict>
        <key>sweet_walk_07.png</key>
        <dict>
            <key>frame</key><string>{{835,571},{110,165}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,165}}</string>
            <key>sourceSize</key><string>{110,165}</string>
        </dict>
        <key>sweet_action_00.png</key>
        <dict>
            <key>frame</key><string>{{18,796},{110,218}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,218}}</string>
            <key>sourceSize</key><string>{110,218}</string>
        </dict>
        <key>sweet_action_01.png</key>
        <dict>
            <key>frame</key><string>{{187,796},{110,218}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,218}}</string>
            <key>sourceSize</key><string>{110,218}</string>
        </dict>
        <key>sweet_action_02.png</key>
        <dict>
            <key>frame</key><string>{{349,796},{110,218}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,218}}</string>
            <key>sourceSize</key><string>{110,218}</string>
        </dict>
        <key>sweet_action_03.png</key>
        <dict>
            <key>frame</key><string>{{506,796},{110,218}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,218}}</string>
            <key>sourceSize</key><string>{110,218}</string>
        </dict>
        <key>sweet_action_04.png</key>
        <dict>
            <key>frame</key><string>{{673,796},{110,218}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,218}}</string>
            <key>sourceSize</key><string>{110,218}</string>
        </dict>
        <key>sweet_action_05.png</key>
        <dict>
            <key>frame</key><string>{{834,796},{110,218}}</string>
            <key>offset</key><string>{0,0}</string>
            <key>rotated</key><false/>
            <key>sourceColorRect</key><string>{{0,0},{110,218}}</string>
            <key>sourceSize</key><string>{110,218}</string>
        </dict>
    </dict>
    <key>metadata</key>
    <dict>
        <key>format</key><integer>2</integer>
        <key>realTextureFileName</key><string>Player.png</string>
        <key>size</key><string>{992,1057}</string>
        <key>textureFileName</key><string>Player.png</string>
    </dict>
</dict>
</plist>
